{% load static %}{% load i18n %}





<div class="table-responsive" style="height: 442px;">
    <table class="table table-bordered">
        <thead class="">
            <tr class="">
                <th >{% trans 'Title' %}</th>
                <th >{% trans 'Short text' %}</th>
                <th >/</th>
            </tr>
        </thead>
        <tbody id="">
            {% autoescape off %}
            {{ list_html }}
            {% endautoescape %}
        </tbody>
    </table>
</div>

