{% extends 'base-main.html' %}
{% load static %}
{% load i18n %}

{% block css_block %}
<style>
    .main-data-content-div { overflow: auto; height: 500px; }
    .main-data-content-div thead th { position: sticky; top: 0; }

    /* Just common table stuff. Really. */
    .main-data-content-div table  { border-collapse: collapse; width: 100%; }
    {# #main-data-content th, td { padding: 8px 16px; } #}
    .main-data-content-div th     { background:#eee; }
</style>
  <link rel="stylesheet" href="{% static 'local/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
{% endblock %}
{% block content_block %}
    <div class="content-wrapper">
      <div class="row  grid-margin">


        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <form class="" id="main-search-form" method="post">
                  {% csrf_token %}
                    <div class="row">
                      <div class="col-md-7">
                        <div class="form-group row">
                          <div class="col-sm-12">
                            {{ search_form.search }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group row">
                          <div class="col-sm-12">
                            {{ search_form.field_list }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group row">
                          <div class="col-sm-12">
                            {{ search_form.order_type }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-5">
                          <div id="datepicker-popup" class="input-group date datepicker">
                            {{ search_form.first_date }}
                            <span class="input-group-addon input-group-append border-left">
                              <span class="ti-calendar input-group-text"></span>
                            </span>
                          </div>
                      </div>
                      <div class="col-md-5">
                          <div id="datepicker-popup2" class="input-group date datepicker">
                            {{ search_form.end_date }}
                            <span class="input-group-addon input-group-append border-left">
                              <span class="ti-calendar input-group-text"></span>
                            </span>
                          </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group row">
                          <div class="col-sm-12">
                            <button type="button" onclick="searchForm()" class="btn btn-primary mb-2">{% trans 'Search' %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" name="page-num" id="page-num" value="1"/>
              </form>
            </div>
          </div>
        </div>


        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">{% trans 'Section list' %}</h3>

              <div id="js-grid-sortable " class="jsgrid main-data-content-div" style="position: relative; height: 500px; width: 100%;" >

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- content-wrapper ends -->
    {% endblock %}
  {% block js_block %}
    <script>
        var search_form = $('#main-search-form');
        var main_data_content = $('.main-data-content-div');
        $( document ).ready(function() {
            searchForm();
        });
          search_form.submit( function(eventObj) {
              searchForm();
              eventObj.preventDefault();

          });
        function searchForm() {
            $('#page-num').val(1);
            main_data_content.html('<div style="width: 100%;text-align:center;"><img src="{% static 'local/images/pageloader.gif' %}"></div>');
          $.post('',search_form.serialize())
              .done(function (result) {
                  main_data_content.html(result['main_result']);
                  {#document.getElementById('customer-count-div').innerHTML = '<span>'+result['customer_count']+'</span>';#}
                  $('#page-num').val(2);
            }).fail(function () {
                  main_data_content.html('');
          });
        }
    </script>




    <script>
        var is_active = true;
        var has_data = true;
            $('.main-data-content-div').on('scroll', function() {
                console.log("-------------------------------------------------------------------------------");
                if ($(this).scrollTop() +
                    $(this).height()>=
                    ($(this).height() + 250) && is_active && has_data) {
                    infinityForm();
                    // alert('End of DIV is reached!');
                }
            });


        function infinityForm() {
            is_active = false;
              $.post('',search_form.serialize())
                  .done(function (result) {
                      $('.main-data-content-div tbody').append(result['main_result']);
                      if(result['main_result'] != ''){
                          $('#page-num').val(parseInt($('#page-num').val()) + 1);
                      }else{
                          has_data = false;
                      }
                      is_active = true;

                      console.log(result)
                }).fail(function () {
                    is_active = true;
              });
         }
    </script>
    <script>
        activeMenu('ui-daily');
    </script>

<script>

        {#const swalWithBootstrapButtons = Swal.mixin({#}
        {#  customClass: {#}
        {#    confirmButton: 'btn btn-success',#}
        {#    cancelButton: 'btn btn-danger'#}
        {#  },#}
        {#  buttonsStyling: false#}
        {# });#}
        {##}
        {#function deleteDataItem($url, $id) {#}
        {##}
        {#    swalWithBootstrapButtons.fire({#}
        {#    title: 'Sure?',#}
        {#    text: "Are you sure?",#}
        {#      type: 'warning',#}
        {#      showCancelButton: true,#}
        {#      confirmButtonText: 'Yes!',#}
        {#      cancelButtonText: 'No!',#}
        {#      reverseButtons: true#}
        {#    }).then((result) => {#}
        {#      if (result.value) {#}
        {#            $.post($url,{'csrfmiddlewaretoken': '{{ csrf_token }}'})#}
        {#                .done(function (result) {#}
        {#                    if (result['message_code']){#}
        {#                        $('#list-item-'+$id).remove();#}
        {#                    }#}
        {#                });#}
        {#      } else if (#}
        {#        /* Read more about handling dismissals below */#}
        {#        result.dismiss === Swal.DismissReason.cancel#}
        {#      ) {#}
        {#        swalWithBootstrapButtons.fire(#}
        {#            'Cancelled',#}
        {#            'You are cancelled!',#}
        {#            'error'#}
        {#        )#}
        {#      }#}
        {#    });#}
        {# }#}
</script>

  <script src="{% static 'local/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
  <script >

  (function($) {
  'use strict';
  if ($("#timepicker-example").length) {
    $('#timepicker-example').datetimepicker({
      format: 'LT'
    });
  }
  if ($(".color-picker").length) {
    $('.color-picker').asColorPicker();
  }
  if ($("#datepicker-popup").length) {
    $('#datepicker-popup').datepicker({
      enableOnReadonly: true,
      todayHighlight: true,
    });
  }
  if ($("#datepicker-popup2").length) {
    $('#datepicker-popup2').datepicker({
      enableOnReadonly: true,
      todayHighlight: true,
    });
  }
})(jQuery);

  </script>
  {% endblock %}