
    <tr class="" id="list-item-{{ data_item.id }}">
      <td class="" style="">{{ data_item.title }}</td>
      <td class="" style="">{{ data_item.section.title }}</td>
      <td class="" style="">{{ data_item.author.get_full_name }}</td>
      <td class="" style="">{{ data_item.employee.get_full_name }}</td>
      <td class="" style="">
          {%if data_item.is_finished %}
                <a style="" href="javascript:void(0)" class="btn btn-icon btn-square btn-success">
                    <i class="ti-check"></i>
                </a>
          {% else %}
                <a style="" href="javascript:void(0)" class="btn btn-icon btn-square btn-warning">
                    <i class="ti-close"></i>
                </a>
          {% endif %}
      </td>
      <td class="" style="">{{ data_item.date }}</td>
      <td class="" style="">
        {% with base_user_rules=base_profile.get_user_rules %}
            {% if base_profile.usertype == 1 or 'task-edit' in base_user_rules %}
                <a style=""  href="{% url 'panel:task-edit' data_item.id %}" class="btn btn-icon btn-square btn-warning">
                    <i class="ti-pencil-alt"></i>
                </a>
            {% endif %}
            {% if base_profile.usertype == 1 or 'task-remove' in base_user_rules %}
                <a style="" href="javascript:void(0)" onclick="deleteDataItem('{% url 'panel:task-remove' data_item.id %}',{{ data_item.id }})" class="btn btn-icon btn-square btn-danger">
                    <i class="ti-close"></i>
                </a>
            {% endif %}
        {% endwith %}
      </td>
  </tr>