{% load static %}{% load i18n %}



<div class="table-responsive" style="height: 442px;">
    <table class="table table-bordered">
        <thead class="">
            <tr class="">
              <th class="" style="">{% trans 'Title' %}</th>
              <th class="" style="">{% trans 'Section' %}</th>
              <th class="" style="">{% trans 'Author' %}</th>
              <th class="" style="">{% trans 'Employee' %}</th>
              <th class="" style="">{% trans 'Finished' %}</th>
              <th class="" style="">{% trans 'Date' %}</th>
              <th class="" style="">/</th>
            </tr>
        </thead>
        <tbody id="">
            {% autoescape off %}
            {{ list_html }}
            {% endautoescape %}
        </tbody>
    </table>
</div>

