
<tr class="" id="list-item-{{ data_item.id }}">
    <td >{{ data_item.title }}</td>
    <td >{{ data_item.short_text }}</td>
    <td>
        {% with base_user_rules=base_profile.get_user_rules %}
            {% if base_profile.usertype == 1 or 'section-edit' in base_user_rules %}
                <a style=""  href="{% url 'panel:section-edit' data_item.id %}" class="btn btn-icon btn-square btn-warning">
                    <i class="ti-pencil-alt"></i>
                </a>
            {% endif %}
            {% if base_profile.usertype == 1 or 'section-remove' in base_user_rules %}
                <a style="" href="javascript:void(0)" onclick="deleteDataItem('{% url 'panel:section-remove' data_item.id %}',{{ data_item.id }})" class="btn btn-icon btn-square btn-danger">
                    <i class="ti-close"></i>
                </a>
            {% endif %}
        {% endwith %}
    </td>
</tr>