<tr id="list-item-{{ data_item.id }}">
    <td>{{ for_i }}</td>
    <td>{{ data_item.first_name }}</td>
    <td>{{ data_item.last_name }}</td>
    <td>{{ data_item.email }}</td>
    <td>{{ data_item.username }}</td>
    <td>{% if data_item.phone %}{{ data_item.phone }}{% else %}-{% endif %}</td>
    <td>{{ data_item.get_usertype }}</td>
    <td>{{ data_item.date_joined|date:'d.m.Y H:i' }}</td>
    <td>
        {% with base_user_rules=base_profile.get_user_rules %}
            {% if base_profile.usertype == 1 or 'user-edit' in base_user_rules %}
                <a style=""  href="{% url 'panel:user-edit' data_item.id %}" class="btn btn-icon btn-square btn-warning">
                     <i class="ti-pencil-alt"></i>
                </a>
            {% endif %}
            {% if base_profile.usertype == 1 or 'user-rewoke' in base_user_rules %}
                <a style="" href="javascript:void(0)" onclick="deleteDataItem('{% url 'panel:user-remove' data_item.id %}',{{ data_item.id }})" class="btn btn-icon btn-square btn-success">
                    <i class="ti-check"></i>
                </a>
            {% endif %}
        {% endwith %}
    </td>
</tr>